@import '../../scss/variables';
#account_page {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/images/account/account-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.account-common-page {
    margin: auto;

    .account-wrapper {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: auto;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        .account {
            background: #fff;
            border-radius: 8px;
            padding: 1.5rem 0;
            .form-account {
                padding: 0 3rem;
            }
        }
    }

    .addtional-link {
        text-align: center;
        display: flex;
        flex-direction: column;
        a {
            margin: 0.5rem 0;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .account-wrapper {
            width: 70%;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .account-wrapper {
            width: 80%;
        }
    }

    @media only screen and (min-width: 577px) and (max-width: 767px) {
        .account {
            width: 100%;
        }
        .account-wrapper {
            width: 90%;
        }
    }
    @media only screen and (max-width: 576px) {
        .account-wrapper {
            box-shadow: unset;
            width: 100%;
        }
        .account {
            width: 100%;
        }
    }
}
