@import '../../../../scss/variables';
#header-optional {
    flex: 1;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    overflow: hidden;

    .header_leftside {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon_user {
            cursor: pointer;
        }
    }
}
