@import '../../../../scss/variables';
.modal-detail-message-pin {
    height: 0;
    width: 0;
    overflow: hidden;
}

.file_info-wrapper-pin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    padding: 1rem;
    border-radius: 8px;
    background: $fds-gray-20;

    .icon-download {
        height: 36px;
        width: 36px;
        margin-left: 1rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 5px;
        border: 1px solid $fds-gray-05;
        cursor: pointer;
    }
}

.file_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    cursor: pointer;

    &-name {
        margin-left: 1rem;
        font-weight: 500;
    }
    &-icon {
        max-height: 6rem;
        max-width: 6rem;
        svg {
            width: 5rem;
        }
    }
}
