$fds-gray-00: #f5f6f7;
$fds-gray-05: #f2f3f5;
$fds-gray-10: #ebedf0;
$fds-gray-20: #dadde1;
$fds-gray-25: #ccd0d5;
$fds-gray-30: #bec3c9;
$fds-gray-45: #8d949e;
$fds-gray-70: #606770;
$fds-gray-80: #444950;
$fds-gray-90: #303338;
$fds-gray-100: #1c1e21;
$blue-color: blue;
$white-color: #ffffff;
$strong-blue: #396edd;
$blue-light: #58aeff;
$grey-300: #e1e4ea;
$blue-1f4: #1f4060;
$grey-400: #e8eaef;
$neutral-500: #72808e;
$base-color: #0068ff;
$gray-talo: #f0f2f5;
$silver: #b3bbc8;
$blue-700: #e5efff;
$grey-500: #eeeff2;
$light-grey: #e8eaef;
$thumbnail-text: #87929e;
$light-grey: #f4f5f7;
$normal-text: #606c7a;
$black-color: #282a35;
$red-color: #de433e;
$white-smoke: #f4f5f7;
$ghost-white: #fafafb;
$gradident-blue: linear-gradient(90deg, $base-color, $gray-talo);
$dark-gray: #abb3bb;
$light-cyan: #d2efff;
$white-smoker: #f5f5f5;
$purple: #814096;
$pink: #f83292;
$gradient: linear-gradient(90deg, $gray-talo, $base-color);
